{% extends "layout_getintoteaching.html" %}



{% block pageTitle %}
  You are subscribed
{% endblock %}

{% block content %}

 <div class="govuk-width-container">
  <main class="govuk-main-wrapper">

  	<h1 class="govuk-heading-xl">End of protoype example journey</h1>

  	<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
	  	  <p>At this point in the journey the user is subscribed with basic information (email address) and will start to receive emails from the DfE giving them practical advice and insight about becoming a teacher.</p> 
	  	  <h2 class="govuk-heading-m">Tailoring the experience by answering more questions</h2>
	  	  <p>However the user has chosen to answer more questions to tailor the emails they receive. An example could be to select a chosen subject such as Maths and therefore the DfE could send more targeted emails to the user about the opportunities for additional funding for teaching maths.</p>
	  	  <p>Another example could be to send emails containing local events if the user has provided their postcode or address.</p>

	  	  <h2 class="govuk-heading-m">Progressional experience</h2>
	  	  <p>To make it easier for a user to access other benefits such as attending an event, getting school experience or access to an advisor, this journey would blend in with other journeys so that a user does not need to re-enter the same information each time. For example if a user wanted an advisor call and had answered questions about their chosen subject etc, they would not need to answer them again.
</p>

	  	  <a role="button" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8 defcontinuebtn " id="ContinueBtn" href="/">Return home</a>

		</div>
	</div>


  </main>
</div>

{% endblock %}
