
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Prototypes
      </h1>
      <p>
        The following prototypes were created in support of ThoughtWorks proposal for the <a href="https://www.digitalmarketplace.service.gov.uk/digital-outcomes-and-specialists/opportunities/12107"> Department for Education, Teacher Services programme</a>.
      </p>
      <h2 class="govuk-heading-l">Understanding the Apply for teacher training journey</h2>
      <p>We assessed the current Get into Teaching website and the application journey across the different systems.</p>
      <p>We found it difficult to get an overview of the end to end journey from establishing your eligibility to accepting an offer. We found the information about the end to end process was split across many different pages with no single page acting as an anchor. We suspect that this could be disorientating and a user would need to mentally construct for themselves, therefore putting more strain on a user and reducing digital inclusion.</p>
      <p>Our hypothesis is to that users would benefit from a single page that lists the logical flow of an application and signposts to the multiple services and pages of guidance.</p>
      <p>We created a <a class="govuk-link" href="/apply-for-teacher-training">prototype demonstrating how the GOV.UK step by step pattern could help join up the end-to-end journey of applying for teacher training</a>.</p>
      <p>Whilst the prototype is presented as part of GOV.UK, the same pattern could be adpted to the Get into Teaching site.</p>
      <h2 class="govuk-heading-l">Measuring performance and change for teacher training recruitment</h2>
      <p>We have created a <a class="govuk-link" href="/teacher-training-performance-dashboard">prototype of a dashboard for the recruitment of candidates into teacher training</a>, breaking down the funnel into key metrics that would help a DfE manager understand any bottlenecks and the impact of changes or marketing campaigns.</p>
      <h2 class="govuk-heading-l">Removing friction from registration</h2>
      <p>The current registration funnel forces one journey (15 steps) for all needs:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Access to Email hints & tips</li>
        <li>Booking a place at an event</li>
        <li>Get school experience</li>
        <li>Access to advisor support</li>
      </ul>
        <p>We suspect that this could be a potential painpoint for users who are starting their journey of exploring techer training and are not ready to speak to an advisor or are not willing to provide detailed personal information without explanation of how it will be used.</p> 

      <p>For example, if a user wanted to register for emails only, they may be asking 'Why are you forcing me to...'</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>give my D.O.B?</li>
        <li>tell you my address?</li>
        <li>arrange a call?</li>
      </ul>

     <p>We hypothesise that the user experience could be improved by breaking up the registration journey into seperate journeys that progressively work togther, providing the right level of support at the right time and only ask for information when the user is ready and its needed.</p>

     <p>To illustrate this, we have created a <a class="govuk-link" href="/register-for-emails">prototype of the journey for signing up for emails</a>.</p>
     <p>This prototype illustrates how a user can sign up for emails by providing their email address only and is then given the opportunity to tailor the content by providing additional information to build up their profile. We believe this approach would reduce the friction for users, reduce bounce rates in the funnel and increase the level of engagement from users.</p>
    </div>
</div>

{% endblock %}
