
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Prototypes
      </h1>
      <p>
        These are prototypes created in support of ThoughtWorks proposal in response to <a href="https://www.digitalmarketplace.service.gov.uk/digital-outcomes-and-specialists/opportunities/12107"> Department for Education, Teacher Services programme</a>.
      </p>

      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="/start">Apply for an early career payment </a>
        </li>
        <li>
          <a class="govuk-link" href="/apply-for-teacher-training">Apply for teacher training: step by step</a>
        </li>
        <li>
          <a class="govuk-link" href="/performance">Performance dashboard</a>
        </li>
      </ul>
    </div>
</div>

{% endblock %}
